.home-item {

  img {
    width: 100%;
    object-fit: fill;
  }
  h2 {
    background: #FFCA41;
    color: #FFF;
    font-size: 1.875rem;
    padding-inline: 16px;
  }

  p {
    font-size: 1.125rem;
    margin-block-start: 8px;
  }
}